<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Edit car</title>
		<style>
			table {
				border-collapse: collapse;
				width: 80%;
			}
			
			th, td {
				padding: 8px;
				text-align: left;
				border-bottom: 1px solid #DDD;
			}
			
			tr:hover {
				background-color: #D6EEEE;
			}
		</style>
	</head>
	<body>
		<form action="/car/edited" method="post">
			<input type="hidden" th:value="${carDTO.getCarid()}" name="carid" />
	
			<p>Type:</p>
			<input type="text" name="type" /> 
			<br />
	
			<p>Active(false/true):</p>
			<select name="active">
				<option>Option</option>
				<option value="true">true</option>
				<option value="false">false</option>
			</select>
			<br />
	
			<p>Reservation amount:</p>
			<input type="number" name="reservationamount" /> 
			<br /> 
			<br /> 
			
			<input type="submit" value="Send" />
		</form>
		<br />
		
		<table>
			<tr>
				<th>Car ID</th>
				<th>Type</th>
				<th>Active</th>
				<th>Fee</th>
			</tr>
	
			<tr>
				<td th:text="${carDTO.getCarid()}"></td>
				<td th:text="${carDTO.getType()}"></td>
				<td th:text="${carDTO.isActiveString()}"></td>
				<td th:text="${carDTO.getFee() + ' Ft'}"></td>
			</tr>
		</table>
		
		<p th:if="${messageDTO != null && messageDTO.isSuccessfully() == true}" >Successfully edited the car!</p>
		<p th:if="${messageDTO != null && messageDTO.isSuccessfully() == false}">Error by edited!</p>
		
		<form action="/car/delete" method="post">
			<input type="hidden" th:value="${carDTO.getCarid()}" name="carid" />
			<input type="Submit" value="Delete car" />		
		</form>
		<br />
		
		<form action="/admin" method="get">
			<input type="submit" value="Admin page" />
		</form>
		
	</body>
</html>