<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Index</title>
		<style>
			table 
			{
			  border-collapse: collapse;
			  width: 50%;
			}
			
			th, td 
			{
			  padding: 8px;
			  text-align: left;
			  border-bottom: 1px solid #DDD;
			}
			
			tr:hover {background-color: #D6EEEE;}
		</style>
	</head>
	<body>
		<form action="/car/search" method="get">
			<p>Begin of reservation:</p>
			<input type="date" name="beginofreservation"/>
			<br/>
			<p>End of reservation:</p>
			<input type="date" name="endofreservation"/>
			<br/>
			<br/>
			<input type="submit" value="Search" />
		</form>
		
		<table th:if="${carDTOList != null}">
			<h3>Avaliable cars: </h3>
			<tr>
				<th>Car ID</th>
				<th>Type</th>
				<th>Fee</th>
				<th></th>
			</tr>
			
			<tr th:each="carDTO : ${carDTOList.getCarList()}">
				<td th:text="${carDTO.getCarid()}" ></td>
				
				<td th:text="${carDTO.getType()}"></td>
				<td th:text="${carDTO.getFee()}"></td>
				<td>
					<form action="/car/reservation" method="post">
						<input type="hidden" th:value="${carDTO.getCarid()}" name="carid"/>
						<input type="hidden" th:value="${carDTOList.getBeginOfReservation()}" name="beginofreservation"/>
						<input type="hidden" th:value="${carDTOList.getEndOfReservation()}" name="endofreservation"/>
						<input type="submit" value="Reserve" />
					</form>
				</td>
			</tr>	
			
		</table>
		
	</body>
</html>