<!DOCTYPE html>
<html>
	<head>
	<meta charset="UTF-8">
	<title>Rest reservation</title>
	</head>
	<body>
		<form action="/rest/restreservation/submit" method="post">
			
				<input type="hidden" th:value="${reservationDTO.getCarId()}" name="carid"/>
				
				<label for="name">Name:</label>
				<input type="text"  name="name"/>
				<br/><br/>
				
				<label for="email">Email:</label>
				<input type="text"  name="email"/>
				<br/><br/>
				
				<label for="address">Address:</label>
				<input type="text"  name="address"/>
				<br/><br/>
				
				<label for="tel">Tel.:</label>
				<input type="text"  name="tel"/>
				<br/><br/>
				
				<input type="hidden" th:value="${reservationDTO.getBeginOfReservation()}" name="beginofreservation"/>
				
				<input type="hidden" th:value="${reservationDTO.getEndOfResetvation()}" name="endofreservation"/>
				<br/>
				
				<input type="submit" value="Submit" />
				
			</form>
	</body>
</html>