<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Success reservation</title>
		<style>
			table 
			{
			  border-collapse: collapse;
			  width: 100%;
			}
			
			th, td 
			{
			  padding: 8px;
			  text-align: left;
			  border-bottom: 1px solid #DDD;
			}
			
			tr:hover {background-color: #D6EEEE;}
		</style>
	</head>
	<body>

		<table th:if="${successReservationDTO != null}">
			<h3>Success reservation!</h3>
			<tr>
				<th>Car</th>
				<th>Name</th>
				<th>Email</th>
				<th>Address</th>
				<th>Tel.</th>
				<th>Begin of reservation</th>
				<th>End of reservation</th>
				<th>Price of reservation</th>
			</tr>
			
			<tr th:each="reservation : ${successReservationDTO}">
				<td th:text="${reservation.getType()}" ></td>
				<td th:text="${reservation.getName()}"></td>
				<td th:text="${reservation.getEmail()}"></td>
				<td th:text="${reservation.getAddress()}"></td>
				<td th:text="${reservation.getTel()}"></td>
				<td th:text="${reservation.getBeginOfReservation()}"></td>	
				<td th:text="${reservation.getEndOfReservation()}"></td>
				<td th:text="${reservation.getPriceOfReservation} + ' Ft'" ></td>
			</tr>	
			
		</table>
	</body>
</html>